* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 40px;
}

body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-weight: 500;
    background-image: url(homepage/img/AppointBG.jpg);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    flex: 1;
    padding: 50px;
    background-color: white;
}

.form-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.form-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.signin-btn {
    padding: 10px;
    border: none;
    background-color: #BDB7FF;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.signin-btn:hover {
    background-color: #813ff1;
}

.mobile-signin {
    font-size: 14px; 
    color: #666; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 8px; 
    margin-top: 15px;
    cursor: pointer;
}

.mobile-signin i {
    font-size: 16px; 
    color: #4a754f; 
    transform: rotate(100deg); 
}

.form-section a {
    color: #4a754f;
    text-decoration: none;
}

.signup-text {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    text-align: center;
}

.signup-text a {
    color: #007bff; 
    font-weight: 700; 
    text-decoration: none; 
    transition: text-shadow 0.3s ease, color 0.3s ease; 
}

.signup-text a:hover {
    color: #007bff; 
    text-shadow: 0 0 8px rgba(0, 123, 255, 0.8); 
}

.image-section {
    flex: 1;
    background-color: #d1c4e9;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.image-section .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(113, 83, 183, 0.54);
    z-index: 1;
}

.image-section img {
    width: 100%;
    height: 70%;
    object-fit: scale-down;
    opacity: 0.8;
    z-index: 0;
}

h2, .signin-btn, .mobile-signin-btn {
    font-weight: 700;
}
